<!DOCTYPE html>

<html lang="ko">
<head>
    <title>Netflix</title>

    <meta charset="UTF-8">
    <meta name="author" content="H-Genie">
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="source/home.css">
    <link rel="stylesheet" type="text/css" href="source/media.css">
    <link rel="icon" href="img/favicon.ico" sizes="16x16">

    <script type="text/javascript" src="source/javascript.js"></script>
    <script src="https://kit.fontawesome.com/d731e721bc.js"></script>
</head>


<!--body 시작--> <body>
    
<header class="home_header">
    <img src="img/logo.svg" id="logo">
	<form action="/login" method="get">
		<button type="submit">로그인</button>
	</form>
</header>



<main>

    <!--hero-->
    <section class="home_hero text_align_center">
        <div class="hero_container padding_top_58">
            <h1>영화, TV 프로그램을<br>무제한으로.</h1>
            <h4>다양한 디바이스에서 시청하세요. 언제든 해지할 수 있습니다.</h4>

            
            <div class="form_email_container">
                <form class="form_email">
                    <input type="email" id="e-mail" placeholder="이메일 주소"></input>
                    <button type="submit"><h3 class="font_size_25">30일 무료 이용</h3></button>
                </form>

                <h5>시청할 준비가 되셨나요? 계정을 등록하거나 엑세스하려면 이메일 주소를 입력하세요.</h5>
            </div>
        </div>
    </section>

    <hr>

    <!--TV로 즐기세요-->
    <div class="card_animation">

        <div class="container">

            <div class="text">
                <h2>TV로 즐기세요.</h2>
                <h4>스마트 TV, PlayStation, Xbox, Chromecast, Apple TV, 블루레이 플레이어 등 다양한 디바이스에서 시청하세요.</h4>
            </div>

            <div class="img">
                <img src="img/tv.png">

                <div>
                    <video autoplay muted loop>
                        <source src="img/video-tv.mp4" type="video/mp4">
                    </video>
                </div>                            
            </div>

        </div>

    </div>

    <hr>

    <!--즐겨 보는 콘텐츠를-->
    <div class="card_animation">

        <div class="container sss">

            <div class="img_02">

                <img src="img/mobile-0819.jpg">

                <div class="sub-img">
                    <div style="height: 100%;"><img src="img/boxshot.png"></div>
                    <div>
                        <h6>기묘한 이야기</h6>
                        <p class="color_blue">저장 중...</p>
                    </div>
                    <div><img src="img/download-icon.gif"></div>

                </div>
            </div>

            <div class="text_02">
                <h2>즐겨 보는 콘텐츠를 저장해 이동 중에도 시청하세요.</h2>
                <h4>오프라인으로 즐기고 데이터를 절약하세요.</h4>
            </div>

        </div>

    </div>
    
    <hr>

    <!--다양한 디바이스에서-->
    <div class="card_animation">

        <div class="container">

            <div class="text">
                <h2>다양한 디바이스에서 시청하세요.</h2>
                <h4>각종 영화와 TV 프로그램을 스마트폰, 태블릿, 노트북, TV에서 무제한으로 스트리밍하세요. 추가 요금이 전혀 없습니다.</h4>
            </div>

            <div class="img_03">
                <img src="img/device-pile.png">

                <div>
                    <video autoplay muted loop>
                        <source src="img/video-devices.mp4" type="video/mp4">
                    </video>
                </div>                            
            </div>

        </div>

    </div>

    <hr>

    <!--자주 묻는 질문-->
    <div class="section_qna">
        <div class="container">

            <h2 class="text_align_center">자주 묻는 질문</h2>
            
            <button onclick="boxClick(this)">
                <h4>넷플릭스란 무엇인가요?</h4>
                <img src="img/plus.svg" class="icon_plus">
            </button>
            <div class="box">
                <h4>
                    넷플릭스는 각종 수상 경력에 빛나는 TV 프로그램, 영화, 애니메이션, 다큐멘터리 등 다양한 콘텐츠를 인터넷 연결이 가능한 수천 종의 디바이스에서 시청할 수 있는 스트리밍 서비스입니다.  
                </h4>
                <br><br>
                <h4>
                    저렴한 월 요금으로 일체의 광고 없이 원하는 시간에 원하는 만큼 즐길 수 있습니다. 무궁무진한 콘텐츠가 준비되어 있으며 매주 새로운 TV 프로그램과 영화가 제공됩니다.
                </h4>
            </div>
        

            <button onclick="boxClick(this)">
                <h4>넷플릭스 요금은 얼마인가요?</h4>
                <img src="img/plus.svg" class="icon_plus">
            </button>
            <div class="box">
                <h4>
                    스마트폰, 태블릿, 스마트 TV, 노트북, 스트리밍 디바이스 등 다양한 디바이스에서 저렴한 월정액 요금 하나로 넷플릭스를 시청하세요. 멤버십 요금은 월 9,500원부터 다양합니다. 추가 비용이나 약정이 없습니다.
                </h4>
            </div>
        

            <button onclick="boxClick(this)">
                <h4>어디에서 시청할 수 있나요?</h4>
                <img src="img/plus.svg" class="icon_plus">
            </button>
            <div class="box">
                <h4>
                    다양한 디바이스에서 언제 어디서나 시청할 수 있습니다. 넷플릭스 계정으로 로그인하면 PC에서 netflix.com을 통해 바로 시청할 수 있으며, 인터넷이 연결되어 있고 넷플릭스 앱을 지원하는 디바이스(스마트 TV, 스마트폰, 태블릿, 스트리밍 미디어 플레이어, 게임 콘솔 등)에서도 언제든지 시청할 수 있습니다.  
                </h4>
                <br><br>
                <h4>
                    iOS, Android, Windows 10용 앱에서는 좋아하는 프로그램을 저장할 수도 있습니다. 저장 기능을 이용해 이동 중이나 인터넷에 연결할 수 없는 곳에서도 시청하세요. 넷플릭스는 어디서든 함께니까요.
                </h4>
            </div>
        

            <button onclick="boxClick(this)">
                <h4>멤버십을 해지하려면 어떻게 하나요?</h4>
                <img src="img/plus.svg" class="icon_plus">
            </button>
            <div class="box">
                <h4>
                    넷플릭스는 부담 없이 간편합니다. 성가신 계약도, 약정도 없으니까요. 멤버십 해지도 온라인에서 클릭 두 번이면 완료할 수 있습니다. 해지 수수료도 없으니 원할 때 언제든 계정을 시작하거나 종료하세요.
                </h4>
            </div>
        

            <button onclick="boxClick(this)">
                <h4>어떤 콘텐츠를 시청할 수 있나요?</h4>
                <img src="img/plus.svg" class="icon_plus">
            </button>
            <div class="box">
                <h4>
                    넷플릭스는 장편 영화, 다큐멘터리, TV 프로그램, 애니메이션, 각종 상을 수상한 넷플릭스 오리지널 등 수많은 콘텐츠를 확보하고 있습니다. 마음에 드는 콘텐츠를 원하는 시간에 원하는 만큼 시청하세요. 30일 무료 이용으로 넷플릭스의 무한한 콘텐츠 세상을 만나보세요.
                </h4>
            </div>
        

            <button onclick="boxClick(this)">
                <h4>무료 이용에 관해 자세히 알 수 있을까요?</h4>
                <img src="img/plus.svg" class="icon_plus">
            </button>
            <div class="box">
                <h4>
                    넷플릭스를 30일 동안 무료로 이용해 보세요. 마음에 드는 경우 계속 이용하시면 됩니다. 별도로 해지하지 않는 한, 멤버십이 자동으로 유지됩니다. 무료 이용 기간이 끝나기 전에 멤버십을 해지하면 요금이 청구되지 않습니다. 복잡한 계약, 약정, 해지 수수료가 없습니다. 언제든 온라인으로 해지하세요.
                </h4>
            </div>

        </div>    
                
    </div>

    <div>
        <div class="hero_container margin_upbottm_52" style="background-color: black;">            
            <div class="form_email_container">
                <form class="form_email flex_center">
                    <input type="email" id="e-mail" placeholder="이메일 주소"></input>
                    <button type="submit"><h3 class="font_size_25">30일 무료 이용</h3></button>
                </form>

                <h5 class="form_email_text_width">시청할 준비가 되셨나요? 계정을 등록하거나 엑세스하려면 이메일 주소를 입력하세요.</h5>
            </div>
        </div>
    </div>

    <hr>

    </main>

    <footer>

        <div class="container">
            <h6><a>질문이 있으신가요? 고객 센터에 문의하세요.</a></h6>
            <ul>
                <li><p class="p_small"><a>자주 묻는 질문</a></p></li>
                <li><p class="p_small"><a>고객 센터</a></p></li>
                <li><p class="p_small"><a>계정</a></p></li>
                <li><p class="p_small"><a>미디어 센터</a></p></li>

                <li><p class="p_small"><a>투자 정보(IR)</a></p></li>
                <li><p class="p_small"><a>입사 정보</a></p></li>
                <li><p class="p_small"><a>Netflix 지원 디바이스</a></p></li>
                <li><p class="p_small"><a>이용 약관</a></p></li>

                <li><p class="p_small"><a>개인정보</a></p></li>
                <li><p class="p_small"><a>쿠키 설정</a></p></li>
                <li><p class="p_small"><a>회사 정보</a></p></li>
                <li><p class="p_small"><a>문의하기</a></p></li>

                <li><p class="p_small"><a>속도 테스트</a></p></li>
                <li><p class="p_small"><a>법적 고지</a></p></li>
                <li><p class="p_small"><a>Netflix 오리지널</a></p></li>
            </ul>

            <div class="select">
                <i class="fas fa-globe"></i>
                <select onchange="window.open(options[selectedIndex].value);">
                    <option value="index.html">한국어</option>
                    <option value="https://www.netflix.com/kr-en/">English</option>
                </select>
                <i class="fas fa-caret-down fa-lg"></i>
            </div>

            <p class="p_small" style="margin: 24px 0 13px;">Netflix 대한민국</p>
            <div>
                <p class="p_small">넷플릭스서비시스코리아 유한회사</p>
                <p class="p_small">통신판매업신고번호: 제2018-서울종로-0426호</p>
                <p class="p_small">전화번호: 00-308-321-0058</p>
                <p class="p_small">대표: 레지널드 숀 톰프슨</p>
                <p class="p_small">이메일 주소: korea@netflix.com</p>
                <p class="p_small">주소: 대한민국 서울특별시 종로구 우정국로 26, 센트로폴리스 A동 20층 우편번호 03161</p>
                <p class="p_small">클라우드 호스팅: Amazon Web Services Inc.</p>
                <a><p class="p_small">공정거래위원회 웹사이트 링크</p></a>
            </div>

    </div>

</footer>


<!--body 끝--> </body>
</html>