<!DOCTYPE html>

<html lang="ko">
<head>
    <title>Netflix</title>

    <meta charset="UTF-8">
    <meta name="author" content="H-Genie">
    <meta name="description" content=" ">
    <meta name="keywords" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="source/login.css">
    <link rel="icon" href="img/favicon.ico" sizes="16x16">
    <script type="text/javascript" src="source/javascript.js"></script>
    <script src="https://kit.fontawesome.com/d731e721bc.js""></script>
</head>


<!--body 시작--> <body>
 

<header class="home_header">
    <a href="/"><img src="img/logo.svg" id="logo"></a>    
</header>



<main>

    <!--hero-->
    

    <section class="home_hero">

        <div class="hero_container"> <!--백그라운드 이미지-->

            <div class="login_body"> <!--로그인 바디-->

                <div id="logo2">
                    <a href="/">
                        <img src="img/logo.svg" style="width: 100%;">
                    </a> 
                </div>
                
                <h3 class="h3_sans">로그인</h3>

                <% if (message.length > 0) { %>
                    <div style="margin-bottom:20px; color:rgba(255,255,255,0.3);"><%= message %></div>
                <% } %>

                <form action="/login" class="login_field" method="post">
                    <input type="text" placeholder="이메일 주소 또는 전화번호" name="id">
                    <input type="password" placeholder="비밀번호" name="password">
                    <button type="submit"><h6>로그인</h6></button>
                </form>

                <div class="login_rememberme">                    
                    <div>
                        <input type="checkbox" id="remember">
                        <label for="remember"><p class="p_small color_gray">로그인 정보 저장</p></label>
                    </div>                    
                    <div><p class="p_small color_gray">도움이 필요하신가요?</p></div>
                </div>

                <div class="login_body_aside">
                    <div class="fb_login">
                        <img src="img/fb_logo.png">
                        <p class="p_small color_darkgray"><a>Facebook으로 로그인</a></p>
                    </div>

                    <h6 class="color_darkgray">Netflix 회원이 아닌가요? <span><a href="/signup" style="color: white;">지금 가입하세요.</a></span></h6>

                    <p class="p_small color_darkgray">이 페이지는 Google reCAPTCHA의 보호를 받아 사용자가 로봇이 아님을 확인합니다. <span><a>자세히 알아보기.</a></span></p>
                </div>

            </div> <!--로그인 바디 끝-->

        </div>

    </section>

    <hr style="display: none;">

    <footer>
        <div class="container">

            <h6 class="color_darkgray">질문이 있으신가요? 고객센터에 확인하세요.</h6>

            <ul>
                <li><a class="p_small">기프트카드 약관</a></li>
                <li><a class="p_small">이용약관</a></li>
                <li><a class="p_small">개인정보 처리방침</a></li>
                <li></li>
            </ul>

            <div class="select">
                <i class="fas fa-globe"></i>
                <select onchange="window.open(options[selectedIndex].value);">
                    <option value="index.html">한국어</option>
                    <option value="https://www.netflix.com/kr-en/">English</option>
                </select>
                <i class="fas fa-caret-down fa-lg"></i>
            </div>

        </div>

    </footer>



<!--body 끝--> </body>
</html>